
/*Background and text color for entire webpage*/
html {
    background-color: #0B3130;
    color: white;
}

/*General styling for text*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    background-color: lightgrey;
    border-color: cyan;
}

/*Styling for user message input*/
#usrMsg {
    background-color: lightgrey;
    border-color: cyan;

    width: 800px;
    height: 50px;
    resize: none;
}

/*Styling for send button*/
#sendMsg {
    width: 200px;
    height: 30px;

    margin-left: 606px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border-radius: 5px;
    border-style: double;
    border-color: cyan;

    background-color: grey;
    color: white;
}

/*Styling for displayed messages*/
p.displayedMsg {
    width: 800px;
    height: 80px;
    overflow-wrap: anywhere;

    background-color: #7f7a91;
    color: black;
}

div.titleHeader {
    background-color: #126665;
    width: 115px;
    border-radius: 5px;
}

div.titleHeader h1 {
    font-family:'Courier New', Courier, monospace;
}

/*Styling for interface container*/
div.interface {
    background-color: #0E121E;

    width: 800px;
    min-height: 500px;
    margin-top: 50px;
    padding: 10px;

    align-items: center;
    justify-self: center;

    border: 3px solid #5F5B6D;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

/*Styling for elements inside friendContainer div*/
#friendContainer {
    position: static;
    margin-right: 250px;
}

#friendsList {
    background-color: #727174;
    color: cyan;

    height: 200px;
    width: 200px;

    overflow-y: scroll;
}

#friendsList h3 {
    justify-self: center;
    text-decoration: underline;
}


/*Styling for elements inside groupContainer div*/
#groupContainer {
    position: static;
    margin-left: 250px;
    margin-top: -260px;
}

#groups {
    background-color: #727174;
    color: cyan;

    height: 200px;
    width: 200px;

    overflow-y: scroll;
}

#groups h3 {
    justify-self: center;
    text-decoration: underline;
}

/*Styling for buttons at the bottom of friend and group lists*/
#createGroupButton, #friendReqButton {
    width: 150px;
    height: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border-radius: 5px;
    border-style: double;
    border-color: cyan;

    background-color: grey;
    color: white;

    margin-top: 10px;
    margin-left: 25px;
}

#friendId, #groupName {
    margin-top: 50px;
    width: 130px;
}

div.interface form label{
    font-size: smaller;
}

#friendIdButton {
    margin-left: 395px;
    margin-top: -21px;
}

#groupNameButton {
    margin-left: 420px;
    margin-top: -21px;
}

/*Styling for form submission buttons*/
#createAccButton, #loginButton {
    width: 100px;
    height: 25px;

    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border-radius: 5px;
    border-style: double;
    border-color: cyan;

    background-color: grey;
    color: white;

    position: static;
}

/*Styling for sign-in form*/
#signIn {
    background-color: #0E121E;

    width: 325px;
    height: 190px;
    margin-top: 100px;
    padding: 10px;

    align-items: center;
    justify-self: center;

    border: 3px solid #5F5B6D;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

/*Styling for username and password inputs*/
#username, #password {
    margin-top: 2%;
}

#signIn a {
    color: cyan;
}

/*Styling for account creation form*/
#signUp {
    background-color: #0E121E;

    width: 370px;
    min-height: 238px;
    margin-top: 100px;
    padding: 10px;

    align-items: center;
    justify-self: center;

    border: 3px solid #5F5B6D;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

#createAccForm p {
    color: red;
    font-size: x-small;

    margin-left: 187px;

    overflow-wrap: normal;
}

/*Styling of username, email, and password creation inputs*/
#createEmail {
    margin-left: 131px;
}

#createUsername {
    margin-top: 5px;
    margin-left: 94px;
}

#createPw {
    margin-top: 5px;
    margin-left: 100px;
}

#pwConf {
    margin-top: 5px;
    margin-left: 30px;
}



